html {
    font-family: Helvetica, sans-serif;
}

body {
    background: rgb(238, 238, 238);
    padding: 1em 2em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
}

img {
    width: 70%;
    height: auto;
}

main {
    display: inline-block;
    width: 65%;
}

aside {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}